body {
	text-align: center;
	font-family: Arial;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.login-options li {
	display: inline-block;
	border-radius: 6px;
	background: blue;
	color: white;
	padding: 8px 10px;
	margin: 10px;
	width: 120px;
}

a {
	text-decoration: none;
	display: block;
	color: white;
}