/*Base Styles*/
* {
	box-sizing: border-box;
}

body {
	font: 1em/1.5 "Josefin Sans", Helvetica, Arial, sans-serif;
	max-width: 100%;
	line-height: 1.5;
	background: lightblue;
}

header {
	margin-bottom: 0px;
}


}

img {
	max-width: 100%;
}

.submit {
	list-style-type: none;
	padding: 0;
	font-size: 24px;
	margin-top: 20px;
}

.submit li {
	display: inline-block;
	list-style-type: none;
	width: 276px;
	margin-left: 15px;
	background: tomato;
	font-size: 20px;
	margin: 0 auto;
	padding-top: 5px;
	border-radius: 7px;
	text-align: center;
}

nav {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	padding: 0;
	font-size: 24px;
	margin-top: 0px;
	vertical-align: top;
}

nav li {
	display: inline-block;
	list-style-type: none;
	width: 150px;
	margin-left: 15px;
	background: tomato;
	font-size: 15px;
	margin: 0 auto;
	padding-top: 5px;
	border-radius: 7px;
}

h3 {
	font-size: 30px;
	margin: 0px;
	padding: 10px;
}

h4 {
	margin: 0px;
	padding: 25px 0px 0px 10px;
	font-size: 23px;
}

form {
	font-size: 20px;
}

input {
	width: 100%;
	font-size: 17px;
	font: 1em/1.5 "Josefin Sans", Helvetica, Arial, sans-serif;
	border: 2px;
	padding: 1px;
}



/*Pseudo Classes*/
a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

/*Main Styles*/
.main-header {

}

.slogan {

}

.small-logo {
	margin-top: 5px;
	margin-right: 5px;
}

.main-content {
	margin-top: 20px;
	width: 800px;
	margin: auto;
	padding-left: 9px;
	padding-right: 9px;
}

.main-header {
	text-align: center;
}

.deepInit {
	border-style: solid;
	border-width: 1px;
	padding: 15px 10px 25px;
}



.styled-select {
	-webkit-appearance: menulist-button;
	-webkit-border-radius: 0px;
	height: 36px;
	width: 100%;
	font-size: 17px;
	font: 1em/1.5 "Josefin Sans", Helvetica, Arial, sans-serif;
}

/*Layout Styles*/
.slogan{
	margin: 45px 0 15px 0;
}

.main-content p {
	padding: 10px;
	max-width: 575px;
	margin: 0 auto;
}

.screen-fix-box {
	border-style: solid;
	border-width: 1px;
	max-width: 782px;
	width: 100%;
}

.individual-box {
	border-style: solid;
	border-width: 1px;
	width: 100%;
	height: 120px;
}

.block {
	display: inline-block;
}

.name-box {
	border-right: 1px solid;
	width: 200px;
	height: 120px;
	vertical-align: top;
}

.selectedBox {
	border-right: 1px solid;
	height: 120px;
	padding: 0px 5px 0px 5px;
}

.productBox {
	vertical-align: top;
}

.amazonBox {
	border-style: solid;
	border-width: 1px;
	height: 90px;
	width: 110px;
	display: auto;
	vertical-align: top;
	margin: 4px 0px 0px 5px;
	border-radius: 5px;
}

.amazonButton {
	display: inline-block;
	list-style-type: none;
	padding: 0px;
	font-size: 15px;
	width: 50px;
}

.amazonButton li {
	display: inline-block;
	list-style-type: none;
	width: 50px;
	background: tomato;
	font-size: 7px;
	margin: 0 auto;
	padding-top: 5px;
	border-radius: 7px;
	text-align: center;
}

.main-footer {
	margin-top: 50px;
	width: 800px;
	padding: 0px 9px;
	margin: auto;
}

.away-options {
	margin: 20px 0px 13px 0px;
}

.input{
	margin-bottom: 20px;
}

.initSubmit {
	margin-top: 70px;
}

.rest {
	margin-top: 10px;
}


/*Floated Columns*/


/*Float Clearfix*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

